body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Jaro;
  font-weight: bold;
  overflow: hidden; /*to hide the scroll*/
}
p {
  margin-left: 5rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#darkMode,
#level1,
#level2,
#level3 {
  border-radius: 0.9rem;
  padding: 0.6rem;
  background-color: black;
  color: whitesmoke;
  opacity: 1;
  cursor: pointer;
  font-family: monospace;
  transition-duration: 1.25s;
  font-weight: bold;
  height: 40px;
}

#darkMode:hover {
  opacity: 3;
  background-color: green;
}
#level1:hover {
  opacity: 3;
  background-color: blue;
}
#level2:hover {
  opacity: 3;
  background-color: purple;
}
#level3:hover {
  opacity: 3;
  background-color: red;
}
.game {
  width: 65%;
  height: 100%;
  margin-top: 0.34rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  border: 0.2rem black solid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  background-image: url('../images/lines2.jpg');
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 0;
}
img {
  width: 120px;
  height: 120px;
}
#duck {
  width: 20px;
  height: 20px;
  display: flex;
  justify-self: center;
  align-self: flex-start;
}
.cell {
  width: 10%;
  height: 10vh;
  margin: 0;
  text-align: center;
}

#ocean {
  width: 100%;
  margin-bottom: 0.6rem;
  background-color: navy;
  padding: 2rem 0.1rem;
  text-align: center;
  border-top: none;
  background-size: cover;
  background-image: url('../images/toy.png');
}
ul {
  list-style-type: none;
  margin-left: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  border-bottom: 0.2rem solid black;
}
#win,
#death {
  font-size: 2rem;
}
